<h2>User Profile</h2>

{{#if isUser}}
<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>USER OK LOGIN!</h1>
        <h2><i>Bienvenido {{user.username}}</i></h2>
        <br>
            <form action="/user/carrito">
        <div class="text-center"></div>
        <button class="btn btn-danger my-5">Carrito</button>
        </form>
       

        {{#each resp.prods}}
        <div>
            <h3>Producto: {{this.name}} Precio: {{this.price}}</h3>
            <img class="w-50 h-80" src="{{this.foto}}" alt="imagen del producto">
            <form class="form" action="/carrito/addprod/product/{{this._id}}" method="post">
                <div class="form-group">
                    <input class="btn btn-success my-3" type="submit" value="Agregar al carrito">
                </div>
            </form>
        </div>

        {{/each}}


        <form action="/logout">
            <div class="text-center"></div>
            <button class="btn btn-danger my-5">LOGOUT</button>
    </div>

    </form>

</div>


</div>
</div>
{{/if}}